<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myActivityLabel" jhiTranslate="skeletonApp.activity.home.createOrEditLabel">Create or edit a Activity</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!activity.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="activity.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="skeletonApp.activity.activityName" for="field_activityName">Activity Name</label>
            <input type="text" class="form-control" name="activityName" id="field_activityName"
                [(ngModel)]="activity.activityName" required minlength="2" maxlength="40"/>
            <div [hidden]="!(editForm.controls.activityName?.dirty && editForm.controls.activityName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.activityName?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.activityName?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 2 }">
                   This field is required to be at least 2 characters.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.activityName?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 40 }">
                   This field cannot be longer than 40 characters.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label jhiTranslate="skeletonApp.activity.party" for="field_party">Party</label>
            <select class="form-control" id="field_party" multiple name="party" [(ngModel)]="activity.parties">
                <option [ngValue]="getSelected(activity.parties, partyOption)" *ngFor="let partyOption of parties; trackBy: trackPartyById">{{partyOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
