<div>
    <h2>
        <span jhiTranslate="skeletonApp.frontpageconfig.home.title">Frontpageconfigs</span>
        <button class="btn btn-primary float-right jh-create-entity create-frontpageconfig" [routerLink]="['/', { outlets: { popup: ['frontpageconfig-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="skeletonApp.frontpageconfig.home.createLabel">
            Create new Frontpageconfig
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'skeletonApp.frontpageconfig.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="frontpageconfigs">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="creationDate"><span jhiTranslate="skeletonApp.frontpageconfig.creationDate">Creation Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="topNews1.id"><span jhiTranslate="skeletonApp.frontpageconfig.topNews1">Top News 1</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="topNews2.id"><span jhiTranslate="skeletonApp.frontpageconfig.topNews2">Top News 2</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="topNews3.id"><span jhiTranslate="skeletonApp.frontpageconfig.topNews3">Top News 3</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="topNews4.id"><span jhiTranslate="skeletonApp.frontpageconfig.topNews4">Top News 4</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="topNews5.id"><span jhiTranslate="skeletonApp.frontpageconfig.topNews5">Top News 5</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="latestNews1.id"><span jhiTranslate="skeletonApp.frontpageconfig.latestNews1">Latest News 1</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="latestNews2.id"><span jhiTranslate="skeletonApp.frontpageconfig.latestNews2">Latest News 2</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="latestNews3.id"><span jhiTranslate="skeletonApp.frontpageconfig.latestNews3">Latest News 3</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="latestNews4.id"><span jhiTranslate="skeletonApp.frontpageconfig.latestNews4">Latest News 4</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="latestNews5.id"><span jhiTranslate="skeletonApp.frontpageconfig.latestNews5">Latest News 5</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="breakingNews1.id"><span jhiTranslate="skeletonApp.frontpageconfig.breakingNews1">Breaking News 1</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="recentPosts1.id"><span jhiTranslate="skeletonApp.frontpageconfig.recentPosts1">Recent Posts 1</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="recentPosts2.id"><span jhiTranslate="skeletonApp.frontpageconfig.recentPosts2">Recent Posts 2</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="recentPosts3.id"><span jhiTranslate="skeletonApp.frontpageconfig.recentPosts3">Recent Posts 3</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="recentPosts4.id"><span jhiTranslate="skeletonApp.frontpageconfig.recentPosts4">Recent Posts 4</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="featuredArticles1.id"><span jhiTranslate="skeletonApp.frontpageconfig.featuredArticles1">Featured Articles 1</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="featuredArticles2.id"><span jhiTranslate="skeletonApp.frontpageconfig.featuredArticles2">Featured Articles 2</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="featuredArticles3.id"><span jhiTranslate="skeletonApp.frontpageconfig.featuredArticles3">Featured Articles 3</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="featuredArticles4.id"><span jhiTranslate="skeletonApp.frontpageconfig.featuredArticles4">Featured Articles 4</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="featuredArticles5.id"><span jhiTranslate="skeletonApp.frontpageconfig.featuredArticles5">Featured Articles 5</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="featuredArticles6.id"><span jhiTranslate="skeletonApp.frontpageconfig.featuredArticles6">Featured Articles 6</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="featuredArticles7.id"><span jhiTranslate="skeletonApp.frontpageconfig.featuredArticles7">Featured Articles 7</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="featuredArticles8.id"><span jhiTranslate="skeletonApp.frontpageconfig.featuredArticles8">Featured Articles 8</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="featuredArticles9.id"><span jhiTranslate="skeletonApp.frontpageconfig.featuredArticles9">Featured Articles 9</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="featuredArticles10.id"><span jhiTranslate="skeletonApp.frontpageconfig.featuredArticles10">Featured Articles 10</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="popularNews1.id"><span jhiTranslate="skeletonApp.frontpageconfig.popularNews1">Popular News 1</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="popularNews2.id"><span jhiTranslate="skeletonApp.frontpageconfig.popularNews2">Popular News 2</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="popularNews3.id"><span jhiTranslate="skeletonApp.frontpageconfig.popularNews3">Popular News 3</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="popularNews4.id"><span jhiTranslate="skeletonApp.frontpageconfig.popularNews4">Popular News 4</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="popularNews5.id"><span jhiTranslate="skeletonApp.frontpageconfig.popularNews5">Popular News 5</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="popularNews6.id"><span jhiTranslate="skeletonApp.frontpageconfig.popularNews6">Popular News 6</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="popularNews7.id"><span jhiTranslate="skeletonApp.frontpageconfig.popularNews7">Popular News 7</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="popularNews8.id"><span jhiTranslate="skeletonApp.frontpageconfig.popularNews8">Popular News 8</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="weeklyNews1.id"><span jhiTranslate="skeletonApp.frontpageconfig.weeklyNews1">Weekly News 1</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="weeklyNews2.id"><span jhiTranslate="skeletonApp.frontpageconfig.weeklyNews2">Weekly News 2</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="weeklyNews3.id"><span jhiTranslate="skeletonApp.frontpageconfig.weeklyNews3">Weekly News 3</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="weeklyNews4.id"><span jhiTranslate="skeletonApp.frontpageconfig.weeklyNews4">Weekly News 4</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="newsFeeds1.id"><span jhiTranslate="skeletonApp.frontpageconfig.newsFeeds1">News Feeds 1</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="newsFeeds2.id"><span jhiTranslate="skeletonApp.frontpageconfig.newsFeeds2">News Feeds 2</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="newsFeeds3.id"><span jhiTranslate="skeletonApp.frontpageconfig.newsFeeds3">News Feeds 3</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="newsFeeds4.id"><span jhiTranslate="skeletonApp.frontpageconfig.newsFeeds4">News Feeds 4</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="newsFeeds5.id"><span jhiTranslate="skeletonApp.frontpageconfig.newsFeeds5">News Feeds 5</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="newsFeeds6.id"><span jhiTranslate="skeletonApp.frontpageconfig.newsFeeds6">News Feeds 6</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="usefulLinks1.id"><span jhiTranslate="skeletonApp.frontpageconfig.usefulLinks1">Useful Links 1</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="usefulLinks2.id"><span jhiTranslate="skeletonApp.frontpageconfig.usefulLinks2">Useful Links 2</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="usefulLinks3.id"><span jhiTranslate="skeletonApp.frontpageconfig.usefulLinks3">Useful Links 3</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="usefulLinks4.id"><span jhiTranslate="skeletonApp.frontpageconfig.usefulLinks4">Useful Links 4</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="usefulLinks5.id"><span jhiTranslate="skeletonApp.frontpageconfig.usefulLinks5">Useful Links 5</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="usefulLinks6.id"><span jhiTranslate="skeletonApp.frontpageconfig.usefulLinks6">Useful Links 6</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="recentVideos1.id"><span jhiTranslate="skeletonApp.frontpageconfig.recentVideos1">Recent Videos 1</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="recentVideos2.id"><span jhiTranslate="skeletonApp.frontpageconfig.recentVideos2">Recent Videos 2</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="recentVideos3.id"><span jhiTranslate="skeletonApp.frontpageconfig.recentVideos3">Recent Videos 3</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="recentVideos4.id"><span jhiTranslate="skeletonApp.frontpageconfig.recentVideos4">Recent Videos 4</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="recentVideos5.id"><span jhiTranslate="skeletonApp.frontpageconfig.recentVideos5">Recent Videos 5</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="recentVideos6.id"><span jhiTranslate="skeletonApp.frontpageconfig.recentVideos6">Recent Videos 6</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let frontpageconfig of frontpageconfigs ;trackBy: trackId">
                <td><a [routerLink]="['../frontpageconfig', frontpageconfig.id ]">{{frontpageconfig.id}}</a></td>
                <td>{{frontpageconfig.creationDate | date:'medium'}}</td>
                <td>
                    <div *ngIf="frontpageconfig.topNews1">
                        <a [routerLink]="['../post', frontpageconfig.topNews1?.id ]" >{{frontpageconfig.topNews1?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="frontpageconfig.topNews2">
                        <a [routerLink]="['../post', frontpageconfig.topNews2?.id ]" >{{frontpageconfig.topNews2?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="frontpageconfig.topNews3">
                        <a [routerLink]="['../post', frontpageconfig.topNews3?.id ]" >{{frontpageconfig.topNews3?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="frontpageconfig.topNews4">
                        <a [routerLink]="['../post', frontpageconfig.topNews4?.id ]" >{{frontpageconfig.topNews4?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="frontpageconfig.topNews5">
                        <a [routerLink]="['../post', frontpageconfig.topNews5?.id ]" >{{frontpageconfig.topNews5?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="frontpageconfig.latestNews1">
                        <a [routerLink]="['../post', frontpageconfig.latestNews1?.id ]" >{{frontpageconfig.latestNews1?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="frontpageconfig.latestNews2">
                        <a [routerLink]="['../post', frontpageconfig.latestNews2?.id ]" >{{frontpageconfig.latestNews2?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="frontpageconfig.latestNews3">
                        <a [routerLink]="['../post', frontpageconfig.latestNews3?.id ]" >{{frontpageconfig.latestNews3?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="frontpageconfig.latestNews4">
                        <a [routerLink]="['../post', frontpageconfig.latestNews4?.id ]" >{{frontpageconfig.latestNews4?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="frontpageconfig.latestNews5">
                        <a [routerLink]="['../post', frontpageconfig.latestNews5?.id ]" >{{frontpageconfig.latestNews5?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="frontpageconfig.breakingNews1">
                        <a [routerLink]="['../post', frontpageconfig.breakingNews1?.id ]" >{{frontpageconfig.breakingNews1?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="frontpageconfig.recentPosts1">
                        <a [routerLink]="['../post', frontpageconfig.recentPosts1?.id ]" >{{frontpageconfig.recentPosts1?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="frontpageconfig.recentPosts2">
                        <a [routerLink]="['../post', frontpageconfig.recentPosts2?.id ]" >{{frontpageconfig.recentPosts2?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="frontpageconfig.recentPosts3">
                        <a [routerLink]="['../post', frontpageconfig.recentPosts3?.id ]" >{{frontpageconfig.recentPosts3?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="frontpageconfig.recentPosts4">
                        <a [routerLink]="['../post', frontpageconfig.recentPosts4?.id ]" >{{frontpageconfig.recentPosts4?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="frontpageconfig.featuredArticles1">
                        <a [routerLink]="['../post', frontpageconfig.featuredArticles1?.id ]" >{{frontpageconfig.featuredArticles1?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="frontpageconfig.featuredArticles2">
                        <a [routerLink]="['../post', frontpageconfig.featuredArticles2?.id ]" >{{frontpageconfig.featuredArticles2?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="frontpageconfig.featuredArticles3">
                        <a [routerLink]="['../post', frontpageconfig.featuredArticles3?.id ]" >{{frontpageconfig.featuredArticles3?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="frontpageconfig.featuredArticles4">
                        <a [routerLink]="['../post', frontpageconfig.featuredArticles4?.id ]" >{{frontpageconfig.featuredArticles4?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="frontpageconfig.featuredArticles5">
                        <a [routerLink]="['../post', frontpageconfig.featuredArticles5?.id ]" >{{frontpageconfig.featuredArticles5?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="frontpageconfig.featuredArticles6">
                        <a [routerLink]="['../post', frontpageconfig.featuredArticles6?.id ]" >{{frontpageconfig.featuredArticles6?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="frontpageconfig.featuredArticles7">
                        <a [routerLink]="['../post', frontpageconfig.featuredArticles7?.id ]" >{{frontpageconfig.featuredArticles7?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="frontpageconfig.featuredArticles8">
                        <a [routerLink]="['../post', frontpageconfig.featuredArticles8?.id ]" >{{frontpageconfig.featuredArticles8?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="frontpageconfig.featuredArticles9">
                        <a [routerLink]="['../post', frontpageconfig.featuredArticles9?.id ]" >{{frontpageconfig.featuredArticles9?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="frontpageconfig.featuredArticles10">
                        <a [routerLink]="['../post', frontpageconfig.featuredArticles10?.id ]" >{{frontpageconfig.featuredArticles10?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="frontpageconfig.popularNews1">
                        <a [routerLink]="['../post', frontpageconfig.popularNews1?.id ]" >{{frontpageconfig.popularNews1?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="frontpageconfig.popularNews2">
                        <a [routerLink]="['../post', frontpageconfig.popularNews2?.id ]" >{{frontpageconfig.popularNews2?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="frontpageconfig.popularNews3">
                        <a [routerLink]="['../post', frontpageconfig.popularNews3?.id ]" >{{frontpageconfig.popularNews3?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="frontpageconfig.popularNews4">
                        <a [routerLink]="['../post', frontpageconfig.popularNews4?.id ]" >{{frontpageconfig.popularNews4?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="frontpageconfig.popularNews5">
                        <a [routerLink]="['../post', frontpageconfig.popularNews5?.id ]" >{{frontpageconfig.popularNews5?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="frontpageconfig.popularNews6">
                        <a [routerLink]="['../post', frontpageconfig.popularNews6?.id ]" >{{frontpageconfig.popularNews6?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="frontpageconfig.popularNews7">
                        <a [routerLink]="['../post', frontpageconfig.popularNews7?.id ]" >{{frontpageconfig.popularNews7?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="frontpageconfig.popularNews8">
                        <a [routerLink]="['../post', frontpageconfig.popularNews8?.id ]" >{{frontpageconfig.popularNews8?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="frontpageconfig.weeklyNews1">
                        <a [routerLink]="['../post', frontpageconfig.weeklyNews1?.id ]" >{{frontpageconfig.weeklyNews1?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="frontpageconfig.weeklyNews2">
                        <a [routerLink]="['../post', frontpageconfig.weeklyNews2?.id ]" >{{frontpageconfig.weeklyNews2?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="frontpageconfig.weeklyNews3">
                        <a [routerLink]="['../post', frontpageconfig.weeklyNews3?.id ]" >{{frontpageconfig.weeklyNews3?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="frontpageconfig.weeklyNews4">
                        <a [routerLink]="['../post', frontpageconfig.weeklyNews4?.id ]" >{{frontpageconfig.weeklyNews4?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="frontpageconfig.newsFeeds1">
                        <a [routerLink]="['../post', frontpageconfig.newsFeeds1?.id ]" >{{frontpageconfig.newsFeeds1?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="frontpageconfig.newsFeeds2">
                        <a [routerLink]="['../post', frontpageconfig.newsFeeds2?.id ]" >{{frontpageconfig.newsFeeds2?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="frontpageconfig.newsFeeds3">
                        <a [routerLink]="['../post', frontpageconfig.newsFeeds3?.id ]" >{{frontpageconfig.newsFeeds3?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="frontpageconfig.newsFeeds4">
                        <a [routerLink]="['../post', frontpageconfig.newsFeeds4?.id ]" >{{frontpageconfig.newsFeeds4?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="frontpageconfig.newsFeeds5">
                        <a [routerLink]="['../post', frontpageconfig.newsFeeds5?.id ]" >{{frontpageconfig.newsFeeds5?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="frontpageconfig.newsFeeds6">
                        <a [routerLink]="['../post', frontpageconfig.newsFeeds6?.id ]" >{{frontpageconfig.newsFeeds6?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="frontpageconfig.usefulLinks1">
                        <a [routerLink]="['../urllink', frontpageconfig.usefulLinks1?.id ]" >{{frontpageconfig.usefulLinks1?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="frontpageconfig.usefulLinks2">
                        <a [routerLink]="['../urllink', frontpageconfig.usefulLinks2?.id ]" >{{frontpageconfig.usefulLinks2?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="frontpageconfig.usefulLinks3">
                        <a [routerLink]="['../urllink', frontpageconfig.usefulLinks3?.id ]" >{{frontpageconfig.usefulLinks3?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="frontpageconfig.usefulLinks4">
                        <a [routerLink]="['../urllink', frontpageconfig.usefulLinks4?.id ]" >{{frontpageconfig.usefulLinks4?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="frontpageconfig.usefulLinks5">
                        <a [routerLink]="['../urllink', frontpageconfig.usefulLinks5?.id ]" >{{frontpageconfig.usefulLinks5?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="frontpageconfig.usefulLinks6">
                        <a [routerLink]="['../urllink', frontpageconfig.usefulLinks6?.id ]" >{{frontpageconfig.usefulLinks6?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="frontpageconfig.recentVideos1">
                        <a [routerLink]="['../urllink', frontpageconfig.recentVideos1?.id ]" >{{frontpageconfig.recentVideos1?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="frontpageconfig.recentVideos2">
                        <a [routerLink]="['../urllink', frontpageconfig.recentVideos2?.id ]" >{{frontpageconfig.recentVideos2?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="frontpageconfig.recentVideos3">
                        <a [routerLink]="['../urllink', frontpageconfig.recentVideos3?.id ]" >{{frontpageconfig.recentVideos3?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="frontpageconfig.recentVideos4">
                        <a [routerLink]="['../urllink', frontpageconfig.recentVideos4?.id ]" >{{frontpageconfig.recentVideos4?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="frontpageconfig.recentVideos5">
                        <a [routerLink]="['../urllink', frontpageconfig.recentVideos5?.id ]" >{{frontpageconfig.recentVideos5?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="frontpageconfig.recentVideos6">
                        <a [routerLink]="['../urllink', frontpageconfig.recentVideos6?.id ]" >{{frontpageconfig.recentVideos6?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../frontpageconfig', frontpageconfig.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'frontpageconfig/'+ frontpageconfig.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'frontpageconfig/'+ frontpageconfig.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
