
<div *ngIf="proposal">
    <h2><span jhiTranslate="skeletonApp.proposal.detail.title">Proposal</span> {{proposal.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="skeletonApp.proposal.creationDate">Creation Date</span></dt>
        <dd>
            <span>{{proposal.creationDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="skeletonApp.proposal.releaseDate">Release Date</span></dt>
        <dd>
            <span>{{proposal.releaseDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="skeletonApp.proposal.functionality">Functionality</span></dt>
        <dd>
            <span>{{proposal.functionality}}</span>
        </dd>
        <dt><span jhiTranslate="skeletonApp.proposal.proposalType">Proposal Type</span></dt>
        <dd>
            <span jhiTranslate="{{'skeletonApp.ProposalType.' + proposal.proposalType}}">{{proposal.proposalType}}</span>
        </dd>
        <dt><span jhiTranslate="skeletonApp.proposal.party">Party</span></dt>
        <dd>
            <div *ngIf="proposal.party">
                <a [routerLink]="['/party', proposal.party?.id]">{{proposal.party?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="skeletonApp.proposal.post">Post</span></dt>
        <dd>
            <div *ngIf="proposal.post">
                <a [routerLink]="['/post', proposal.post?.id]">{{proposal.post?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'proposal/'+ proposal.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
